#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.formDiv {
  margin-top: 1em;
}

.formInput {
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
  border: none;
}

.correctFeedback {
  background-color: #5dc7a4;
  margin: auto;
  width: 30%;
  border-radius: 1em;
}

.incorrectFeedback {
  background-color: #cf3e81;
  margin: auto;
  width: 30%;
  border-radius: 1em;
  color: #fff;
}


.disabledNavButton { 
  cursor: not-allowed;
  background: gray; 
}